h1 {
    text-align: center;
    font-family: Helvetica Neue;
    font-size: 50px;
}

.encadre {
    border: 2px solid #000000;
    padding: 0px;
    border-radius: 8px;       /* Coins arrondis */
    background-color: #f9f9f9; /* Fond clair */
}

p {
    margin-top: 50px !important;
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
  
.image-haut-gauche {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: auto;
    margin: 20px;
}

.image-haut-droite {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 100px;
    height: auto;
}


.gallery {
    display: grid; 
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr)); 
    gap: 20px;
    justify-items: center;
    margin-top: 50px;
    transform: translateX(20px); 
}


.gallery a img[alt="Airpods 3"] {
    width: 80%; 
    height: auto; 
}


.gallery a img {
    width: 80%; 
    height: auto; 
    border: 2px solid #ddd;
    border-radius: 10px;
    transition: transform 0.3s, border-color 0.3s;
}

.gallery a img:hover {
    transform: scale(1.1); 
    border-color: #007bff;
}

@media (max-width: 768px) {
    h1 {
        font-size: 35px;
    }

    .gallery {
        grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    }
}


h2 {
    text-align: center;
    font-family: Helvetica Neue;
    font-size: 50px;
    margin: 100px;
}

a {
    color: blue;
    text-decoration: underline;
}


.image-link {
    display: block;
    border-radius: 15px; 
    overflow: hidden;
    margin-bottom: 110px;
}


.image-independante {
    width: 250px; 
    height: auto;
    border: 2px solid #ccc;
    display: block;
    margin: 0 auto;
    border-radius: 15px;
}
